@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --surface: #0f172a;
  --card: #111827;
  --primary: #22c55e;
}

body {
  background: var(--background);
  color: #fff;
}
